body {
  background-color: rgba(104, 87, 87, 0.342);
} 

hr{
 color: rgb(36, 129, 78);
 border-style: double;
 border-width: 2px ;
 width: 10%;

}


img {
  height: 200px;
  width: 500px;
  border-style: groove;
  
}

h1  {

  color: rgb(29, 125, 125);
  font-family: 'Comfortaa';
  /* woooooooooooooow*/
}

h3  {

  color: rgb(27, 30, 106);
  font-size: 30px;
  font-style: italic;
}

h9 {

  font-family: 'Comfortaa';

}
