body {
  background-color: rgba(104, 87, 87, 0.342);
} 

hr{
 color: rgb(36, 129, 78);
 border-style: double;
 border-width: 2px ;
 width: 10%;

}


img {
  height: 200px;
  width: 500px;
  border-style: groove;
  
}

h1  {

  color: rgb(29, 125, 125);
  font-family: 'Comfortaa';
  /* woooooooooooooow*/
}

h3  {

  color: rgb(27, 30, 106);
  font-size: 30px;
  font-style: italic;
}


.b {

  background-color: red;
}

.b:hover{

  background-color: gold;
}

/* hover its mean when i put mouse on the photo*/



/* these is for one photo i want to change that wallpaper
but my other photo has not wallpaper to change
so added these photo to try it
you should add the point at first*/


/* here i turn to color just a one paragraph like img and its work :) */
p {

  color: brown;

}

.top {

  color: rgb(59, 97, 97);
}

/* you can something called id .. its the same but you should change the point to #  */

#c {

  color: rgb(40, 93, 7);
  font-family: 'Comfortaa';
}

.k {

  border-radius: 100%;
}

/* here i let you see how i can add more one name on one class */

